
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <center>

           <%= image_tag("moon.png", {:style => "width:50px;"}) %>

      </center>
      <br>

      <%= yield %>

    </div>
  </div>
</div>