

 <br><br><br>
  <footer class="pt-4 border-top">
    <div class="row">
      <div class="col-3 col-md">
      <center>
        <h5>Nous contacter</h5>
           <%= image_tag("fb.png", {:style => "width:50px;"}) %>
           <%= image_tag("insta.png", {:style => "width:50px;"}) %>
      </div>
      <div class="col-3 col-md">
        <h5>Mon compte</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Créer un event</a></li>
          <li><a class="text-muted" href="#">Modifier mes infos</a></li>
          <li><a class="text-muted" href="#">Voir les events</a></li>
        </ul>
      </div>

     <div class="col-3 col-md">
      <h5>Les baux légaux</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Conditions</a></li>
        <li><a class="text-muted" href="#">Confidentialité</a></li>
        <li><a class="text-muted" href="#">Cookies</a></li>
      </ul>
      </div>
      <div class="col-3 col-md">
        <center>
           <%= image_tag("moon.png", {:style => "width:50px;"}) %>

          <small class="text-muted">EventFlop &copy; 2020-2021</small></center>
      </div>
    </div>

  </footer>